@import '~styles.scss';
.navable {
  font-size: $u-14;
  line-height: $u-45;
  color: #e1f0a7;
  font-weight: 300;
  .navable-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: $u-16;
    span {
      padding-left: $u-8;
    }
    &:hover {
      background-color: #002518;
    }
    &.sub {
      color: $white-1;
      img {
        &:last-child {
          position: absolute;
          right: $u-28;
        }
      }
    }
    &.disabled {
      color: rgba(225, 240, 167, 0.5)
    }
    &.active{
      background: $green-1;
      &:before {
        content: ".";
        color: #adbf2b;
        width: $u-6;
        background-color: #adbf2b;
        margin-left: -($u-16);
      }
      span {
        margin-left: $u-24 !important;
      }
    }
    .count {
      font-size: $u-12;
      color: $green;
      font-weight: 900;
      border-radius: $border-radius-lg;
      background-color: #fac040;
      width: $u-30;
      height: $u-15;
      line-height: initial;
      text-align: center;
      position: absolute;
      right: $u-28;
    }
  }
  .upcoming {
    color: $white-1;
    font-weight: $font-weight-bold;
    padding-left: $u-16;
    margin-top: $u-24;
  }
}
