<div class="navigation pt-2">
  <div class="navable">
    <div class="navable-item" (click)="onMenuClick()">
      <img src="../../assets/icons/administration.svg">
      <span>Administration</span>
    </div>
    <div class="navable-item" (click)="onMenuClick()">
      <img src="../../assets/icons/activities.svg">
      <span>Activities</span>
    </div>
    <div class="navable-item" (click)="onMenuClick()">
      <img src="../../assets/icons/message.svg">
      <span>Messages</span>
      <div class="count">10</div>
    </div>
    <div class="navable-item sub">
      <img src="../../assets/icons/payment.svg">
      <span>Payment</span>
      <img src="../../assets/icons/arrow.svg">
    </div>
     <div class="navable-item sub" (click)="onMenuClick()">
      <span class="ml-3">Purchase Orders</span>
    </div>
     <div class="navable-item sub active" (click)="onMenuClick()">
      <span class="ml-3">Backcharges</span>
    </div>
     <div class="navable-item sub" (click)="onMenuClick()">
      <span class="ml-3">Remittance</span>
    </div>
     <div class="navable-item sub" (click)="onMenuClick()">
      <span class="ml-3">FPO Requests</span>
    </div>
    <div class="navable-item" (click)="onMenuClick()">
      <img src="../../assets/icons/bid.svg">
      <span>Bid Request</span>
    </div>
    <div class="upcoming" (click)="onMenuClick()">
      <span>Coming Soon</span>
    </div>
    <div class="navable-item disabled" (click)="onMenuClick()">
      <img src="../../assets/icons/forecasted.svg">
      <span>Forecasted Starts</span>
    </div>
    <div class="navable-item disabled" (click)="onMenuClick()">
      <img src="../../assets/icons/warranty.svg">
      <span>Warranty</span>
    </div>
  </div>
</div>
