@import '~styles.scss';
section {
  padding-left: $u-10;
  .search{
    padding: $u-30 $u-20;
    .input-group {
      position: absolute;
      top: $u-25;
      left: $u-25 * 4;
      .input-group-prepend {
        .input-group-text {
          background-color: $white;
          width: ($u-40 * 3) + $u-9;
          height: $u-34;
        }
      }
      input {
        max-width: ($u-30 * 6) + $u-7;
        height: $u-34;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        &.form-control:focus {
          background-color: $white;
          border-color: $grey;
          box-shadow: none;
        }
      }
      .input-group-append {
        position: relative;
        right: $u-24;
      }
    }
  }
  .key {
    .new, .old {
      display: flex;
      align-items: center;
      font-size: $u-11;
      color: $dark;
      font-weight: $font-weight-bold;
    }
    & + .export {
      font-size: $u-11;
      color: $dark;
      font-weight: $font-weight-bold;
    }
  }
  .table-head {
    .col {
      flex-grow: 1;
      &:nth-last-child(2), &:nth-last-child(3) {
        flex-grow: 2;
      }
      .title {
        font-size: $u-12;
        letter-spacing: 0px;
        line-height: $u-14;
        color: $green;
        font-weight: $font-weight-bold;
      }
      .media {
        align-items: center;
        .media-body {
          line-height: .5;
          color: lightgray;
          padding-left: $u-4;
        }
      }
    }
  }
  .table-body {
    position: relative;
    // need to check
    max-height: calc(100vh - 216px);
    // overflow-y: auto;
    .row {
      background: $white;
      // need to check
      // margin:0;
    }
    .col {
      flex-grow: 1;
      padding-top: $u-4;
      height: $u-25 * 3;
      font-size: $u-14;
      letter-spacing: 0px;
      line-height: $u-20;
      color: $dark;
      font-weight: 400;
      &:nth-last-child(2), &:nth-last-child(3) {
        flex-grow: 2;
      }
    }
    .truncate {
      color: $green-pale;
      cursor: pointer;
    }
    .new:before {
      content: '.';
      width: $u-15;
      height: $u-50 + $u-25;
      background: $sky-blue;
      position: absolute;
      left: -($u-25);
      color: $sky-blue;
    }
    .old:before {
      content: '.';
      width: $u-15;
      height: $u-50 + $u-25;
      background: $grey-1;
      position: absolute;
      left: -($u-25);
      color: $grey-1;
    }
  }
}
