//
// Color System
//
$white: #ffffff;
$white-1: #f2f2f2;
$white-2: #f8f8f8;
$dark: #000000;
$grey: #cccccc;
$grey-1: #b7b7b7;
$orange: #f89133;
$sky-blue: #3cacde;
$green: #043825;
$green-1: #002518;
$green-2: #064631;
$green-pale: #97a911;

$border-radius: $u-4;
$border-radius-sm: $u-3;
$border-radius-lg: $u-8;

$font-weight-normal:  400;
$font-weight-medium: 500;
$font-weight-bold:  700;

